name: Auto-merge Beta

on:
  pull_request:
    branches:
      - main
    paths:
      - "supabase-beta.json"

permissions:
  pull-requests: write
  contents: write

jobs:
  merge:
    runs-on: ubuntu-latest
    env:
      PR_URL: ${{ github.event.pull_request.html_url }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - id: diff
        # This step will also throw an error if more than 1 file is changed.
        if: ${{ startsWith(github.head_ref,	'release/') }}
        run: echo "files=$(gh pr diff --name-only $PR_URL)" >> $GITHUB_OUTPUT

      # get an app-token to allow PR approval and merging
      - id: app-token
        if: ${{ steps.diff.outputs.files == 'supabase-beta.json' }}
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}

      - id: auto-merge
        if: ${{ steps.app-token.outputs.token }}
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
        run: |
          gh pr review --approve "$PR_URL"
          gh pr merge -d -s "$PR_URL"
